@using MyEvernote.WebApp
@using MyEvernote.Entities
@using MyEvernote.WebApp.Models
@model  List<Note>

@{
    ViewBag.Title = "Index";
}
<div id="slides-shop" class="cover-slides">
    <ul class="slides-container">
        <li class="text-center">
            <img src="~/Template/images/banner-01.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Deneyimlerini <br> Paylaş</strong></h1>
                        @if (CurrentSession.User == null)
                        {
                            <p><a class="btn hvr-hover" href="/Home/Register">Sende Katıl</a></p>
                        }
                        else
                        {
                            <p>Merhaba @CurrentSession.User.Username</p>
                        }
                    </div>
                </div>
            </div>
        </li>
        <li class="text-center">
            <img src="~/Template/images/banner-02.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Görüşlerini <br> Paylaş</strong></h1>
                        @if (CurrentSession.User == null)
                        {
                            <p><a class="btn hvr-hover" href="/Home/Register">Sende Katıl</a></p>
                        }
                        else
                        {
                            <p>Merhaba @CurrentSession.User.Username</p>
                        }
                    </div>
                </div>
            </div>
        </li>
        <li class="text-center">
            <img src="~/Template/images/banner-03.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Bilgilerini <br> Paylaş</strong></h1>
                        @if (CurrentSession.User == null)
                        {
                            <p><a class="btn hvr-hover" href="/Home/Register">Sende Katıl</a></p>
                        }
                        else
                        {
                            <p>Merhaba @CurrentSession.User.Username</p>
                        }
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div class="slides-navigation">
        <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
    </div>
</div>
<div class="latest-blog">
    <div class="container">

        <div class="row">
            @foreach (Note note in Model)
            {
                <div class="col-md-6 col-lg-4 col-xl-4" data-note-id="@note.Id">
                    <div class="blog-box">
                        <div class="blog-img">
                            @*<img class="img-fluid" width="350" height="200" src ="~/Images/note.png" alt="" />*@
                        </div>
                        <div class="blog-content">
                            <div class="title-blog">
                                <h3 data-toggle="modal" data-target="#modal_notedetail" data-note-id="@note.Id">@note.Title</h3>
                                <h4>@note.Owner.Username</h4>
                                <h4><i class="far fa-clock"> </i> @note.ModifiedOn.ToString("dd.MM.yy HH:mm") </h4>
                                @if ((string.IsNullOrEmpty(note.Text) == false && note.Text.Length > 70) && (note.NoteImageFilename != null || note.NoteImageFilename==""))
                                {
                                    <p>@(note.Text.Substring(0, 70) + "...")</p>
                                }
                                else

                                {
                                    <p>@note.Text</p>
                                }
                            </div>
                            <ul class="option-blog">
                                <li>
                                    <button title="@note.LikeCount" data-liked="false" data-note-id="@note.Id">
                                        <span class="fa fa-heart like"></span>
                                        <span class="like-count">@note.LikeCount</span>
                                    </button>
                                </li>
                                <li><button data-placement="right" title="Not Detayı" data-toggle="modal" data-target="#modal_notedetail" data-note-id="@note.Id"><i class="fa fa-eye"></i></button></li>
                                <li><button data-placement="right" title="Yorumlar" data-toggle="modal" data-target="#modal_comment" data-note-id="@note.Id"><i class="fa fa-comments"></i></button></li>
                            </ul>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</div>

@Bootstrap.ModalPopup(id: "modal_comment", title: "Yorumlar")
@Bootstrap.ModalPopup(id: "modal_notedetail", title: "Not Detayı")
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/comment.js"></script>
<script src="~/Scripts/like.js"></script>
<script src="~/Scripts/NoteDetailPopup.js"></script>
